# AutoHotKey
*.bak

# compiled files
/AutoHotFlow Installation.exe
/AutoHotFlow Setup.exe
/AutoHotFlow.exe

# exclude flows except of demonstration flows
Saved Flows/backup
Saved Flows/demo flows/backup

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
